
<h1>New book</h1>
<%= form_for(book) do |f| %>

    <%= f.label :title, "Title" %>
    <div><%= f.text_field :title, class:"col-xs-12" %></div>
    <%= f.label :body, "Opinion" %>
    <div><%= f.text_area :body, class:"col-xs-12" %></div>
  

  
    <%= f.submit "Create Book", class: 'btn btn-success col-xs-12' %>
  

<% end %>

