<!DOCTYPE html>
<script src="https://kit.fontawesome.com/297207e270.js" crossorigin="anonymous"></script>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
  　<% end %>
    </div>

    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
